@import '../../styles/variables.scss';

.hero {
    margin-bottom: 200px;
    .navbar {
        position: fixed;
        z-index: 100;
        width: 100%;
        max-width: 1224px;
        top: 0;
        margin: 0 0;
        
    }

    .header {
        width: 100%;
        height: 48px;
        position: relative;
        background-color: $col-of-site;

        .logo img {
            height: 35px;
            margin-top: 4px;
        }

        .content {
            width: 100%;
            position: absolute;
            top: 50%;
            margin-top: 2*$one-line-height;
            line-height: 33px;

            .wrapper {
                display: flex;
                justify-content: space-between;

                .logo {
                    margin-left: 30px;
                }

                ul.refs {
                    margin: 0;
                    //margin-left: 75%;
                    padding: 4px;
                }

                ul.refs li {
                    display: inline;
                    margin-right: 10px;
                    padding: 3px;
                }
            }
        }
    }

    .info-block {

        margin-top: 104px;
        margin-left: 0;
        height: 354px;
        width: 100%;

        .info-flex:only-child {
            margin: 0;
        }

        .info-flex {
            display: flex;
            justify-content: space-between;

            .flex-div-img {

                img {
                    height: 400px;
                }
            }

            .flex-description {

                width: 600px;

                .header {
                    margin-bottom: 30px;
                    height: auto;
                }

                .description {
                    margin-bottom: 30px;
                }

                .social-links {
                    margin-top: 60px;

                    img {
                        width: 50px;
                    }
                }
            }
        }
    }





}