@media only screen and (max-width: 1300px) {
    .accessories {
        
        grid-template-columns: 40% 60%;
        .description {
            margin-left: 40px;
        }
    }

    .mail {
        margin: 200px 40px;
    }
}

@media only screen and (max-width: 1224px) {
    .product-list {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        grid-column-gap: 0;

    }

    .hero .info-block {
        margin-left: 30px;
    }

    .mail {
        margin: 100px 40px;
    }

    .accessories {
        grid-template-columns: 1fr;

        .description {
            margin: auto auto;

        }
    }
}

@media only screen and (max-width: 1018px) {
    .flex-div-img {
        display: none;
    }
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 900px) {}

@media only screen and (max-width: 830px) {
    .product-list {
        grid-template-columns: 1fr;
    }

    .mail {
        display: none;
    }

    .accessories {
        margin-top: 60px;

        .accessories-list {
            grid-template-columns: 1fr;
        }
    }

    .modal {
        grid-template-columns: 1fr;
        justify-content: center;
        .logo {
            display: none;
        }
        .modal-content {
            .name {
                margin-top: 20px;
                margin-bottom: 30px;
            }
            .info ul {
                padding-top: 20px;
            }
            div.price-block {
                div.price  {
                    font-size: 40px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 780px) {
    .hero .info-block {
        width: 95%;
    }
}

@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 660px) {
    .flex-description {
        .header {
            padding-right: 70px;
        }
    div.description {
        margin-right: 40px;
    }
}
}
@media only screen and (max-width: 600px) {
    .wrapper ul.refs {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .hero .info-block {
        width: 90%;
    }   
}

@media only screen and (min-width: 1px) {
    .card {
        margin-right: 0px;
    }
}

@media only screen and (min-width: 1224px) {
    .accessories .description {
        margin-left: 0;
    }
}