@import "../../styles/variables.scss";

.mail {
    margin: 200px auto;
    height: 253px;
    border-radius: 25px;
    background-image: url('../../assets/mail/mailBg.png');
    background-size: cover;

    .content {
        text-align: center;
        padding-top: 55px;
        height: 142px;
        background: $col-opacasity;
    }

    .services {
        display: grid;
        margin-top: 55px;
        background: $col-opacasity;
        grid-template-columns: 3fr 3fr 3fr 3fr 3fr 3fr;

        .evropochta {
            font-size: 70px;
        }

        div {
            background: $col-opacasity;

            img {
                background: $col-opacasity;
                width: 80%;
            }
        }
    }


}