.card {
    width: 392px;
    height: 314px;
    margin-left: 0;
    margin-right: 15%;
    background: rgba(190, 191, 195, 0);

    .content {
        margin: 33px;
        height: 248px;
        width: 326px;
        position: relative;
        background: rgba(190, 191, 195, 0);

        .btn {
            width: auto;
            margin-right: 0;
            margin-bottom: 0;
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            background: rgba(190, 191, 195, 0);
        }

        .item-name {
            margin-left: 0;
            margin-bottom: 30px;
            max-width: 228px;
            height: 80px;
            display: grid;
            grid-template-columns: 1fr 3fr;
            background: rgba(190, 191, 195, 0);

            div img {
                height: 64px;
                background: rgba(190, 191, 195, 0);
            }

            .price {
                background: rgba(190, 191, 195, 0);
                padding-top: 1px;
                padding-right: 5px;
                text-align: right;
                margin-right: 0;

                height: 80px;
                
            }
        }

        .description {
            line-height: 30px;
            background: rgba(190, 191, 195, 0);
        }
    }
}

.product-list {
    margin-left: 0px;
    background: rgba(190, 191, 195, 0);
}
.card:hover {
    background-image: url('../../assets/activeCard.png');
    background-size: 392px 314px;
    
}