@import "./../../styles/variables.scss";
@import "../../styles/mixins.scss";

.card {
    width: 392px;
    height: 314px;

    @include cardStyle;
}

.card:hover {
    background-image: url('../../assets/activeCard.png');
    background-size: 392px 314px;
    @include activeCardStyle;
}

.smallCard {
    width: 288px;
    height: 314px;
    @include cardStyle;
}

.smallCard:hover {
    background-image: url('../../assets/smallActiveCard.png');
    background-size: 288px 314px;
    @include activeCardStyle;
}


.product-list {
    margin-left: 0px;
}