@import "./../../styles/variables.scss";

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 105;

    &::before {
        z-index: 1;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        background-color: black;
        opacity: 0.5;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $col-fo-site;
    height: 700px;
    width: 60%;
    z-index: 10;

    opacity: 1;
    overflow: hidden;

    display: grid;
    grid-template-columns: 3fr 4fr;

    .logo {
        padding: 10px;
    }

    &>div:first-child {
        width: 100%;
        height: 100%;
    }

    &>div {
        width: 100%;
        height: auto;
    }

    &>div:last-child {
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .content {
        .name {
            margin-top: 2%;
            margin-bottom: 4%;
            text-align: center;
        }

        .price-block {
            display: grid;
            padding-top: 10%;
            grid-template-columns: 1fr 1fr;

        }
    }

}