.assortment {
    .info-block {
        text-align: center;
        margin-bottom: 90px;

        .header {
            line-height: 130%;
        }

        .description {
            margin-top: 25px;
        }
    }
}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 100px;
}